body {
	display: flex;
	flex-direction: column;
}
.header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 70px;
	background-color: #c3cfd9;
}
.header > p {
	color: #e8833a;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 40px;
}