.main {
	margin-top: calc(70px + 45px);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
.main > p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;

	color: #293845;
}
.grid-filmes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px 1px;
	justify-items: center;
	width: 100vw;
	margin-top: 35px;
	padding-bottom: 50px;
}
.card-filme {
	padding: 10px;
	background: #ffffff;
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}
.card-filme > img {
	width: 145px;
	height: 209px;
}
.card-filme:hover {
	cursor: pointer;
}
